<header>
    <div class="header-container">
        <div class="nav-bar">
          <div class="name">
           <a href="">
               <div class="text-block-1">SHUBARNA K C</div>
           </a>
          </div>
          <div class="hidden-text-block">
           <a href="">
               PROJECTS
           </a>
           
           <a href="">
               CONTACT/ABOUT
           </a>
           <a href="">
               TECHNOLOGY&nbsp;USED
           </a>
          </div>
        </div>
        
       </div>
</header>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&family=Teko:wght@300..700&display=swap" rel="stylesheet">
</head>