<header>
    <div  id ="header" class="header-container">
        <div class="nav-bar">
          <div class="name">
           <a href="">
               <div class="text-block-1">{{name}}</div>
           </a>
          </div>
       <div class="links " >
        <div class="hidden-text-block hideOnMobile" >
            <a *ngFor="let x of links" [routerLink]="[x.url]"  >
                {{x.name}}
            </a>
           
          
           </div>
           <div class="menu-icon" (click)="showSideBar()">
            <a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="26px" viewBox="0 -960 960 960" width="26px" fill="#5f6368"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg></a>
           </div>
          
         
         
       </div>
       <div class="no-side" >
       <a (click)="hideSideBar()" href=""><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></a>
        <a *ngFor="let x of links" [routerLink]="[x.url]"  >
            {{x.name}}
        </a>
        
      
       </div>
        
        </div>
       
       </div>
</header>
