<div class="about-div">
  <div class="block-1">
   
      <img class="image" src="https://scontent.fyyz1-1.fna.fbcdn.net/v/t39.30808-6/440567599_961772158935204_5005208512333659386_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=Pk1WUuPbaFwQ7kNvgFrjfHQ&_nc_ht=scontent.fyyz1-1.fna&oh=00_AYAjNr-fGQimASCi97GUyDiZP7p0rm1Ca-bdOHz_0hBByg&oe=66C9C0BA" alt="Profile Picture">
   
   <div class="text-desc">
    <em class="italic-text">
      I don't usually gaze off into the distance with eyes wide open, but this moment of being immersed in nature feels right, so in the bio it goes. 
      If you want to chat, explore the web, or grab a drink and talk tech, don't hesitate shoot me an email or a tweet.
    </em>
   </div>
  </div>
  <div class="block-2">
    <div class="h5">
      ABOUT SHUBARNA K C
    </div>
    <div class="text-block-1">

      
      Shubarna is an Ontario-based web developer who, despite not having professional experience, has immersed myself in a range of projects during college and personal time. I excel at identifying a project's potential and transforming ideas into functional, dynamic web solutions. My journey has equipped me with a solid foundation in web development, a keen eye for detail, and a passion for creating impactful digital experiences.

  <br>
  <br>
  In every project I’ve undertaken, whether during college or on personal initiatives, I’ve focused on meaningful goals, ranging from enhancing user experiences to implementing creative solutions. I strive to carry that same commitment to making an impact in my personal endeavors as well. I firmly believe that web development and design are powerful tools for creating positive change and delivering engaging digital experiences.
  <br>
  <br>
  I’m comfortable tackling a variety of projects, from developing web applications to working on creative designs. Whether I’m coding, brainstorming ideas, or crafting prototypes, I bring a high level of quality and creativity to everything I do.
  <br>
  <br>
  Outside of work, I draw inspiration from backcountry skiing, early morning surfing, and traveling with my family. With a sense of wonder and a deep connection to nature, I channel this curiosity and passion into my work. This enthusiasm for living and exploring is evident in my projects, where I seamlessly blend creativity, professionalism, and play.  <br>
    </div>

  </div>
  <div class="block-3">
    <div class="h5">
      Capabilities
    </div>
     <div class="text-block-2">

      Websites
     
      <br>
      Strategy
      <br>
      Research
      <br>
      E-commerce Design
     </div>
  </div>
</div>