.about-div{
  display: flex;
  justify-content: space-evenly;
  background-color: whitesmoke;
  padding: 30px;
}



.image {
  width: 50vh; 
  height: auto; 
  display: block; 
  
}

.text-desc {
  width: 50vh; 
  word-wrap: break-word; 
  box-sizing: border-box; 
  color: #8d8a8a;
  font-family: Roboto, "Helvetica Neue", sans-serif;;
 
 
  color: #949494;
    padding-top: 16px;
    padding-right: 20px;
    font-size: 11px;
    font-style: italic;
    line-height: 18px;
}
.h5{
  color: #8d8a8a;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-bottom: 18px;
  font-family: Teko, sans-serif;
  font-size: 15px;
}
.text-block-1{
  width: 40vh;
  word-wrap: break-word; 
  box-sizing: border-box; 
  font-family: Nunito, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #333;
}

.text-block-2{
  font-family: Nunito, sans-serif;
  font-size: 14px;
  color: #020101;
  font-weight: 700;
  line-height: 31px;
  
}
.h6{
 
    color: #8d8a8a;
    letter-spacing: 2px;
    text-transform: uppercase;
   margin-top: 20px;
    font-family: Teko, sans-serif;
    font-size: 15px;
    border-top: 2px solid #444;
    padding: 2px;
  
}
.text-block-3 a{
  font-family: Nunito, sans-serif;
  font-size: 14px;
  color: #020101;
  font-weight: 700;
  line-height: 31px;
  text-decoration: none;
  

}


.resume-link {
  font-style: italic;
  text-decoration: underline;
}