.about-div{
  display: flex;
  justify-content: space-evenly;
  background-color: whitesmoke;
  padding: 30px;
}



.image {
  width: 50vh; /* The image will take the full width of the main div */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Removes extra space under the image */
  
}

.text-desc {
  width: 50vh; /* Make the text div width equal to the image */
  word-wrap: break-word; /* Prevent long words from overflowing */
  box-sizing: border-box; /* Include padding/border in the width */
  color: #8d8a8a;
  font-family: Roboto, "Helvetica Neue", sans-serif;;
 
 
  color: #949494;
    padding-top: 16px;
    padding-right: 20px;
    font-size: 11px;
    font-style: italic;
    line-height: 18px;
}
.h5{
  color: #8d8a8a;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-bottom: 18px;
  font-family: Teko, sans-serif;
  font-size: 15px;
}
.text-block-1{
  width: 40vh;
  word-wrap: break-word; /* Prevent long words from overflowing */
  box-sizing: border-box; 
  font-family: Nunito, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #333;
}

.text-block-2{
  font-family: Nunito, sans-serif;
  font-size: 14px;
  color: #020101;
  font-weight: 700;
  line-height: 31px;
  
}