.intro-container{
    display: flex;
    justify-content: space-evenly;
    height: 600px;
    margin-top: 50px;
    
}
.block-1{
    color: whitesmoke;
    
    font-family: Teko, sans-serif;
    
    font-weight: 500;
    line-height: 34px;
    margin-top: 140px;
    margin-left: 30px;
    letter-spacing: 1px;
    
}
.block-2{
    width: 700px;
    border: 5px solid #181818;
    background-image: linear-gradient(rgba(2, 2, 2, 0.9), rgba(0, 0, 0, .5)), url("https://scontent.fyyz1-1.fna.fbcdn.net/v/t39.30808-6/440567599_961772158935204_5005208512333659386_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=Pk1WUuPbaFwQ7kNvgFrjfHQ&_nc_ht=scontent.fyyz1-1.fna&oh=00_AYAjNr-fGQimASCi97GUyDiZP7p0rm1Ca-bdOHz_0hBByg&oe=66C9C0BA");
}
