<div class="intro-container">
    <div class="block-1">
        
       
            
        <div class="intro">
            Shubarna is a web developer who likes to develop web apps.
        </div>
        <div class="buttons">
             <div class="links">
                <a href="">
                    Contact Me
                </a>
                <a href="">
                    Resume
                </a>
             </div>
        </div>

    </div>
    <div class="block-2">

    </div>
</div>
