<!-- Material Card Container -->
<div class="mat-card-container">
    <!-- Material Card -->
    <mat-card class="mat-card-3d" appearance="outlined">
      <!-- Card Header -->
      <mat-card-header>
        <mat-card-title>Welcome to My Portfolio</mat-card-title>
        <mat-card-subtitle>I'm Shubarna K C, currently a student with a passion for developing web apps.</mat-card-subtitle>
      </mat-card-header>
      <!-- Card Content -->
      <mat-card-content>
      
        <p>This portfolio showcases my skills and experience in the area of web development. I've curated a selection of projects that demonstrate my ability to different technologies required to build the web apps. Take a look around and explore my work!</p>
      </mat-card-content>
      <!-- Card Actions -->
     
    </mat-card>
  </div>