<footer>
  <div class="footer" id="footer">
    <div class="footer-section">
        <div class="div-block-1">
          
                
                    <div class="left-block-title">
                       CONATCT/ABOUT
                    </div>
                 <div class="links">
                    <div class="footer-link">
                        <a [routerLink]="['/about-me']">
                            About Shubarna

                        </a>
                    </div>
                    <div class="footer-link" *ngFor="let x of socialLinks">
                        <a href="{{x.url}}" target="_blank">
                            {{x.platform}}
                        </a>
                    </div>
                   
                 </div>
                
            
     
        </div>
        <div class="div-block-2">
          
                
                    <div class="right-block-title">
                        Technology Used

                    </div>
                    <div class="technologyused" >
                       <div class="technologyName" *ngFor="let x of technology">
                        {{x}}
                       </div>
                      


                    </div>
                
            
        </div>
      

       
    </div>
    <div class="div-block-3">
        <div class="description">
            ©2024 Shubarna K C. All Rights Reserved.
        </div>
    </div>
  </div>
</footer>