<footer>
  <div class="footer" id="footer">
    <div class="footer-section">
        <div class="div-block-1">
            <div class="left-column">
                
                    <div class="left-block-title">
                       CONATCT/ABOUT
                    </div>
                 <div class="links">
                    <div class="footer-link">
                        <a [routerLink]="['/about-me']">
                            About Shubarna

                        </a>
                    </div>
                    <div class="footer-link">
                        <a href="https://www.linkedin.com/in/shubarnakc/" target="_blank">
                            LinkedIn
                        </a>
                    </div>
                    <div class="footer-link">
                        <a href="https://www.instagram.com/shusilkc12/" target="_blank">
                            Instagram (as Shusil K C)
                        </a>
                    </div>
                    <div class="footer-link">
                        <a href="https://github.com/kcshubarna6" target="_blank">
                            GitHub
                        </a>
                    </div>
                 </div>
                
            </div>
     
        </div>
        <div class="div-block-2">
            <div class="right-column">
                <div class="footer-column-right">
                    <div class="right-block-title">
                        Technology Used

                    </div>
                    <div class="technologyused">
                       <div class="technologyName">
                        Angular
                       </div>
                       <div class="technologyName">
                        Java Spring Boot
                       </div>
                       <div class="technologyName">
                        CSS
                       </div>
                       <div class="technologyName">
                        JavaScript
                       </div>
                       <div class="technologyName">
                        HTML
                       </div>


                    </div>
                </div>
            </div>
        </div>
      

       
    </div>
    <div class="div-block-3">
        <div class="description">
            ©2024 Shubarna K C. All Rights Reserved.
        </div>
    </div>
  </div>
</footer>